<div class="product">
  <div class="content-left">
    <img src="../../../../../assets/images/pinang.webp" alt="about us" />
  </div>
  <div class="content-right">
    <div class="title">Products</div>
    <div class="description">
        We Are serve bettle nut it’s ready sent all around world.
    </div>
    <b class="description">Betel NUT Quality</b>

    <ul>
        <li>50%/55%</li>
        <li>60%/65%</li>
        <li>70%/75%</li>
        <li>80%/85%</li>
        <li>90%/95%</li>
        <li>95%+</li>
        <li>95%++</li>
    </ul>

  </div>
</div>
