.product {
  height: 100vh;
  display: flex;
  justify-content: space-between;

  .content-left {
    position: relative;
    width: 60%;
    overflow: hidden;

    img {
      width: 100%; /* Make the image width 100% of the container width */
      height: 100%; /* Make the image height 100% of the container height */
      object-fit: cover; /* Preserve the aspect ratio and cover the entire container */
      display: block; /* Remove extra space below the image */
    }
  }

  .content-right {
    position: relative;
    width: 40%;
    display: flex;
    flex-direction: column;
    // margin: 20% auto 0 auto;
    text-align: left;
    background-color: #82b440;
    padding: 24px;
    color: #fff;

    img {
      position: absolute;
      width: 100%;
      bottom: 0;
      right: 0;
    }

    .title {
      font-size: 40px;
      font-family: TT-Chocolate-bold;
      color: #737373;
      font-weight: 700;
      margin-top: 30%;
      margin-bottom: 16px;
    }

    .description {
      font-size: 24px;
      color: #fff;
      font-family: TT-Chocolate;
      margin-bottom: 6px;
    }

    ul li {
      padding: 6px 0;
    }
  }
}

@media screen and (max-width: 1350px) {
  .product {
    height: fit-content;
    display: inline-block;
    justify-content: baseline;
    width: 100%;

    .content-left {
      position: relative;
      width: 100%;
      overflow: hidden;

      img {
        width: 100%; /* Make the image width 100% of the container width */
        height: 100%; /* Make the image height 100% of the container height */
        object-fit: cover; /* Preserve the aspect ratio and cover the entire container */
        display: block; /* Remove extra space below the image */
      }
    }

    .content-right {
      position: relative;
      width: 100%;
      display: inline-block;
      flex-direction: inherit;
      margin: 0;
      text-align: left;
      background-color: #82b440;
      padding: 24px;
      color: #fff;

      img {
        position: absolute;
        width: 100%;
        bottom: 0;
        right: 0;
      }

      .title {
        font-size: 40px;
        font-family: TT-Chocolate-bold;
        color: #737373;
        font-weight: 700;
        margin-top: 24px;
        margin-bottom: 16px;
        text-align: center;
      }

      .description {
        font-size: 24px;
        color: #fff;
        font-family: TT-Chocolate;
        margin-bottom: 6px;
      }

      ul li {
        font-size: 20px;
        padding: 6px 0;
      }
    }
  }
}
