<div class="product-category">
  <h2 class="title">
    Dermashare is the most popular <br />
    skincare in Korea. We are here <br />
    with another Korean Brands to boost <br />
    your confident and feel beautiful
  </h2>

  <div class="content-container">
    <div
      *ngFor="let product of productCategory; let i = index"
      (click)="onClickCategory(product.id, product.name)"
      class="product-card"
    >
      <h1 class="category-number">0{{ i + 1 }}.</h1>

      <div>
        <ngb-carousel *ngIf="product?.media">
          <ng-template
            *ngFor="let img of product?.media; let idx = index"
            ngbSlide
          >
            <img [src]="img.url" [alt]="product.name + idx" />
          </ng-template>
        </ngb-carousel>

        <div class="d-flex justify-content-end">
          <img class="category-name" [src]="product?.icons[0]?.url" />
        </div>
      </div>
    </div>
  </div>
</div>
