.footer-container{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    display: flex;

    .item{
        padding: 0.75rem 0.5rem;
        font-family: Sharpe;
        background-color: #fff;
        font-size: 0.75rem;
        width: 25%;
        text-align: center;

        a{
            text-decoration: none;
            color: #737373;
        }
    }

}