<div class="know-us d-flex flex-wrap">
  <img src="../../../assets/images/know-us.png" />

  <div class="content">
    <h2 class="title">KNOW US MORE</h2>
    <p class="description">
      Welcome to Dermashare Indonesia,<br />
      your destination for the best Korean skincare products in Indonesia. We're
      passionate about skincare<br />
      and committed to providing our customers with the highest quality
      products<br />
      that meet their unique needs. We source our products from the most
      reputable brands in Korea,<br />
      ensuring that each product is carefully formulated with the best
      ingredients and backed by scientific research.<br />
      Our team of skincare experts is dedicated to helping our customers find
      the perfect products<br />
      for their skin type and concerns. We offer free skincare consultations to
      provide personalized recommendations<br />
      tailored to each customer's unique needs.<br />
    </p>

    <p class="description">
      At Dermashare Indonesia,<br />
      we believe that healthy, glowing skin is not just a luxury - it's a
      necessity.<br />
      That's why we're committed to making Korean skincare accessible to
      everyone in Indonesia,<br />
      no matter their skin type or budget. Our goal is to help our customers
      achieve their best skin yet,<br />
      whether they're dealing with acne, dryness, wrinkles, or other skincare
      issues.<br />
    </p>

    <p class="description">
      We're excited to be a part of your skincare journey and look forward to
      helping you achieve healthy,<br />
      radiant skin that makes you feel confident and beautiful.<br />
    </p>
  </div>
</div>
