.contact-us {
  display: flex;
  padding: 150px;

  .title-m {
    display: none;
  }

  .contact-info {
    font-family: TT-Chocolate-bold;

    .title {
      font-size: 24px;
      color: #737373;
      margin-bottom: 6px;
    }

    .value {
      font-size: 20px;
      margin-bottom: 12px;
    }

    .map {
      width: 350px;
      height: 250px;
      border-radius: 24px;
      margin-bottom: 12px;
    }
  }

  form {
    width: 600px;
    margin: 0 auto;

    .title {
      font-size: 40px;
      font-family: TT-Chocolate-bold;
      color: #737373;
      font-weight: 700;
      text-align: center;
    }

    .form-group {
      margin-bottom: 12px;
    }

    input[type="number"] {
      -moz-appearance: textfield;
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

@media screen and (max-width: 1350px) {
  .contact-us {
    display: block;
    padding: 24px;
    width: 100%;

    .title-m {
      font-size: 40px;
      font-family: TT-Chocolate-bold;
      color: #737373;
      font-weight: 700;
      margin: 24px 0;
      text-align: center;
    }

    .contact-info {
      font-family: TT-Chocolate-bold;

      .title {
        font-size: 24px;
        color: #737373;
        margin-bottom: 6px;
      }

      .value {
        font-size: 20px;
        margin-bottom: 12px;
        width: 100%;
      }

      .map {
        width: 350px;
        height: 250px;
        border-radius: 24px;
        margin-bottom: 12px;
      }
    }

    form {
      width: 100%;
      margin: 0 auto;

      .title {
        font-size: 40px;
        font-family: TT-Chocolate-bold;
        color: #737373;
        font-weight: 700;
        text-align: center;
        margin: 24px 0;
      }

      .form-group {
        margin-bottom: 12px;
      }

      input[type="number"] {
        -moz-appearance: textfield;
      }
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      .btn{
          height: 40px;
      }
    }
  }
}
