<div class="Home parent">
    <app-header [isMobile]="isMobile" ></app-header>

    <section class="section" id="section-1">
      <app-welcome-section></app-welcome-section>
    </section>

    <section class="section" id="section-2">
      <app-about-us></app-about-us>
    </section>

    <section class="section" id="section-3">
      <app-product></app-product>
    </section>

    <section class="section" id="section-4">
      <app-galery></app-galery>
    </section>

    <section class="section" id="section-5">
      <app-contact-us></app-contact-us>
    </section>

</div>



