<div class="vision-mision">
  <img class="img" src="../../../../../assets/images/vision-mission.png" />

  <div class="content">
    <h2 class="title">OUR VISION</h2>
    <p>
      Our vision is to be the leading provider of Korean skincare products in
      Indonesia, <br />
      recognized for our commitment to quality, expertise, and customer
      satisfaction.<br />
      We aim to make healthy, glowing skin accessible to everyone and be<br />
      a trusted source of skincare knowledge and inspiration.<br />
      <br />
      We'll achieve this by continually sourcing the best products, investing in
      our team's skills,<br />
      and leveraging technology to innovate our services.
    </p>

    <h2 class="title mt-5">OUR MISSION</h2>
    <p>
      Our mission is to provide high-quality Korean skincare products that<br />
      meet our customers' unique needs. We're passionate about skincare and<br />
      believe it's an essential aspect of self-care and wellness.<br />
      We offer personalized skincare consultations and exceptional customer
      service<br />
      to help our customers achieve healthy, radiant skin.<br />
    </p>
  </div>
</div>
