.about-us {
    height: 100vh;
    display: flex;
    justify-content: space-between;

    .content-left{
        position: relative;
        width: 45%;
        display:flex;
        flex-direction: column;
        // margin: 20% auto 0 auto;
        text-align: left;
        background-color: #ed2b45;
        padding: 24px;

        img{
            position: absolute;
            width: 100%;
            bottom: 0;
            right: 0;
        }

        .title{
            font-size: 40px;
            font-family: TT-Chocolate-bold;
            color: #737373;
            font-weight: 700;
            margin-top: 15%;
        }

        .description{ 
            font-size: 18px;
            color: #fff;
            font-family: TT-Chocolate;
            margin-bottom: 6px;
        }

        .button-learn-more {
            padding: 12px;
            background-color: #fff;
            font-size: 24px;
            color: #ed2b45;
            border: 2px solid #ed2b45;
            border-radius: 12px;
            width: 180px;
        }
    }

    .content-right{
        position: relative;
        width: 55%;
        overflow: hidden;

        img {
            width: 100%; /* Make the image width 100% of the container width */
            height: 100%; /* Make the image height 100% of the container height */
            object-fit: cover; /* Preserve the aspect ratio and cover the entire container */
            display: block; /* Remove extra space below the image */
          }
    }
}

@media screen and (max-width: 1350px) {
    .about-us {
        height: auto;
        display: inline-block;
        // justify-content: space-between;
    
        .content-left{
            position: relative;
            width: 100%;
            display:inline-block;
            flex-direction: column;
            margin: 0;
            text-align: left;
            background-color: #ed2b45;
            padding: 24px;
            font-size: 24px;
    
            img{
                position: absolute;
                width: 100%;
                bottom: 0;
                right: 0;
            }
    
            .title{
                font-size: 40px;
                font-family: TT-Chocolate-bold;
                color: #737373;
                font-weight: 700;
                text-align: center;
                margin-bottom: 12px;
            }
    
            .description{ 
                font-size: 24px;
                color: #fff;
                font-family: TT-Chocolate;
                margin-bottom: 16px;
            }
    
            .button-learn-more {
                padding: 12px;
                background-color: #fff;
                font-size: 24px;
                color: #ed2b45;
                border: 2px solid #ed2b45;
                border-radius: 12px;
                width: 180px;
            }
        }
    
        .content-right{
            position: relative;
            width: 100%;
            overflow: hidden;
    
            img {
                width: 100%; /* Make the image width 100% of the container width */
                height: 100%; /* Make the image height 100% of the container height */
                object-fit: cover; /* Preserve the aspect ratio and cover the entire container */
                display: block; /* Remove extra space below the image */
              }
        }
    }
  }