<div class="about-us">
  <div class="content-left">
    <i><h2 class="title">OFFLINE STORE</h2></i>

    <p class="description">
      Jl. Ruko Boston Blok C no 10, Salembaran, Kec. Kosambi, <br />
      Kabupaten Tangerang, Banten 15214
    </p>

    <i class="sub-title"><h4 class="gold">CHECK OUT ONLINE</h4></i>
    <div class="d-flex justify-content-center">
      <a href="https://www.tokopedia.com/dermashare" target="_blank"
        ><img class="icon" src="../../../../../assets/images/tokped.png"
      /></a>
      <a href="https://shopee.co.id/dermashareofficialshop" target="_blank"
        ><img class="icon" src="../../../../../assets/images/shopee.png"
      /></a>
    </div>

    <div class="footer">
      <div class="left">
        <h6 class="mb-4">CUSTOMER CARE</h6>

        <h6>CONTACT +62 858-1062-3333</h6>
        <div class="email">e-mail : dermashare.id@gmail.com</div>
      </div>

      <div class="right">
        <div class="d-flex">
          <a
            href="https://www.tiktok.com/@dermashareofficial.id?_t=8dkrs2zuddZ&_r=1"
            target="_blank"
            ><img class="icon" src="../../../../../assets/images/tiktok.png"
          /></a>
          <a><img class="icon" src="../../../../../assets/images/fb.png" /></a>
          <a
            href="https://www.instagram.com/dermashareofficial.id"
            target="_blank"
            ><img class="icon" src="../../../../../assets/images/ig.png"
          /></a>
          <img class="icon" src="../../../../../assets/images/yt.png" />
        </div>
      </div>
    </div>
  </div>

  <div class="content-right">
    <img src="../../../../../assets/images/about-us.png" alt="about us" />
  </div>
</div>
