<div class="about-us">
  <div class="content-left">
    <div class="title">About Us</div>
    <div class="description">
      PT. Bintang Selamanya is a leading agricultural company based in Kuala
      Tungkal, Indonesia, specializing in the export of high-quality bettlenut
      to countries such as Pakistan, India, and Bangladesh. With over 12 years
      of experience in the industry, our company has gained a reputation for
      being one of the biggest producers of bettlenut in the region.
    </div>
    <div class="description">
      Established in 2008, PT. Bintang Selamanya has been committed to providing
      premium quality bettlenut to our clients around the world. Our team of
      experts has extensive knowledge and expertise in cultivating and
      processing bettlenut, ensuring that every batch meets international
      standards.
    </div>
    <div class="description">
      PT. Bintang Selamanya stands firm in its commitment towards providing the
      best products and services to our clients. We are continuously exploring
      new opportunities for growth and expansion while also maintaining our
      position as a market leader in the bettlenut industry. Our goal is not
      only to meet but exceed the expectations of our customers, making us their
      preferred choice for all their bettlenut needs.
    </div>
    <div class="description">
      In conclusion, PT. Bintang Selamanya takes great pride in being a
      reputable company that values quality, sustainability, and social
      responsibility. With an unwavering focus on customer satisfaction and
      continuous improvement, we look forward to serving our valued clients
      around the world for many years to come.
    </div>
  </div>

  <div class="content-right">
    <img src="assets/images/kebun.webp" alt="about us" />
  </div>
</div>
