<div class="about-us">
  <div class="content-left">
    <div class="title">About Us</div>
    <div class="description">
      PT. Bintang Pinang Cemerlang, a subsidiary of PT Bintang Selamanya, is a
      leading agricultural company based in Jambi, Indonesia. Established in
      2015, our company has grown to become the biggest producer of betel nut in
      the region and has expanded its reach to export the product to Pakistan,
      India, and Bangladesh.
    </div>
    <div class="description">
      In addition to being a leading exporter of betel
      nuts, we are also committed to preserving the environment through
      sustainable farming practices. We continuously strive towards minimizing
      our carbon footprint by optimizing resource utilization, reducing waste
      generation, and adopting eco-friendly techniques.
    </div>
    <div class="description">
      As a company, we
      understand the vital role that agriculture plays in the global economy and
      are committed to making a positive impact. We are proud to be a part of
      Indonesia's growing agricultural sector and will continue to work towards
      expanding our presence and reach in the global market.
    </div>
    <div class="description">
      In conclusion, PT.
      Bintang Pinang Cemerlang stands as a symbol of excellence, integrity, and
      sustainability in the betel nut industry. With our strong foundation,
      experienced team, and unwavering commitment to quality, we are confident
      in our ability to continue setting new standards for agricultural
      practices and exports.
    </div>
  </div>

  <div class="content-right">
    <img src="../../../../../assets/images/kebun.webp" alt="about us" />
  </div>
</div>
