<div class="galery-container">
  <div class="title">Gallery</div>
  <lightgallery class="gallery-item" [settings]="settings" >
    <a href="assets/images/BSL-Gudang.webp ">
        <img alt="bsl" src="assets/images/BSL-Gudang.webp" />
    </a>
    <a href="assets/images/BSL-Gudang-2.webp ">
        <img alt="bsl" src="assets/images/BSL-Gudang-2.webp" />
    </a>
    <a href="assets/images/BSL-Gudang-3.webp">
        <img alt="bsl" src="assets/images/BSL-Gudang-3.webp" />
    </a>
    <a href="assets/images/pinang.webp">
        <img alt="bsl" src="assets/images/pinang.webp" />
    </a>
    <a href="assets/images/img1.webp">
        <img alt="bsl" src="assets/images/img1.webp" />
    </a>
    <a href="assets/images/img2.webp">
        <img alt="bsl" src="assets/images/img2.webp" />
    </a>
    <a href="assets/images/img3.webp">
        <img alt="bsl" src="assets/images/img3.webp" />
    </a>
    <a href="assets/images/img4.webp">
        <img alt="bsl" src="assets/images/img4.webp" />
    </a>
    <a href="assets/images/img5.webp">
        <img alt="bsl" src="assets/images/img5.webp" />
    </a>
    <a href="assets/images/img6.webp">
        <img alt="bsl" src="assets/images/img6.webp" />
    </a>
    <a href="assets/images/img7.webp">
        <img alt="bsl" src="assets/images/img7.webp" />
    </a>
  </lightgallery>
</div>