<div class="galery-container">
  <div class="title">Gallery</div>
  <lightgallery class="gallery-item" [settings]="settings" >
    <a href="assets/images/BPC-Gudang.png ">
        <img alt="gudang" src="assets/images/BPC-Gudang.png" />
    </a>
    <a href="assets/images/pinang.webp">
        <img alt="img1" src="assets/images/pinang.webp" />
    </a>
    <a href="assets/images/img1.webp">
        <img alt="img2" src="assets/images/img1.webp" />
    </a>
    <a href="assets/images/img2.webp">
        <img alt="img2" src="assets/images/img2.webp" />
    </a>
    <a href="assets/images/img3.webp">
        <img alt="img2" src="assets/images/img3.webp" />
    </a>
    <a href="assets/images/img4.webp">
        <img alt="img2" src="assets/images/img4.webp" />
    </a>
    <a href="assets/images/img5.webp">
        <img alt="img2" src="assets/images/img5.webp" />
    </a>
    <a href="assets/images/img6.webp">
        <img alt="img2" src="assets/images/img6.webp" />
    </a>
    <a href="assets/images/img7.webp">
        <img alt="img2" src="assets/images/img7.webp" />
    </a>
  </lightgallery>
</div>