<div class="csr">
  <div class="content">
    <div class="" *ngIf="csr.type === 1 || (csr.type === 2 && isMobile)">
      <div>
        <img [src]="csr.imgUrl" />
      </div>

      <div>
        <h2 class="title">
          {{ csr.title }}
        </h2>
        <div class="description">
          {{ csr.description }}
          <a [href]="csr.url" target="_blank">Selengkapnya...</a>
        </div>
      </div>
    </div>

    <div class="" *ngIf="csr.type === 2 && !isMobile">
      <div>
        <h2 class="title">
          {{ csr.title }}
        </h2>
        <div class="description">
          {{ csr.description }}
          <a [href]="csr.url" target="_blank">Selengkapnya...</a>
        </div>
      </div>
      <div>
        <img [src]="csr.imgUrl" />
      </div>
    </div>
  </div>
</div>
