
.landing {
    overflow: hidden;
    margin: -1px;

    .left-content{
        width: 60%;

        .logo{
            position: absolute;
            width: 110px;
            height: auto;
            top: 2rem;
            left: 1.5rem;
        }

        img{
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }
    }

    .right-content{
        width: 40%;
        position: relative;

        a{
            position: absolute;
            bottom: 6rem;
            right: 3.5rem;
            font-size: 0.875rem;
            text-decoration: underline;
            color: #fff;
            cursor: pointer;
            font-family: TimesNewRoman;
        }

        .description{
            font-family: Sharpe-li;
            font-size: 34px;
            position: absolute;
            top:40%;
            left: 3rem;
            color: #fff;
            font-weight: 400;

            i{
                font-weight: 900;
            }
        }

        img{
            width: 100%;
            height: 100vh;
        }
    }

    @media screen and (max-width: 1350px) {
        .left-content{
            width: 100%;
            .logo{
                width: 20%;
            }
            img{
                width: 100%;
                height: auto;
            }
        }

        .right-content{
            position: relative;
            width: 100%;

            a{ 
                display: none;
            }
            img{
                width: 100%;
                height: auto;
            }

            .description{
                font-family: Sharpe;
                font-size: 34px;
                position: absolute;
                top:40%;
                left: 3rem;
                z-index: 10;
            }
        }
      }
}

