<div class="landing d-flex flex-wrap">
  <div class="left-content">
    <img class="logo" src="../../../assets/images/logo-white.png" />
    <img src="../../../assets/images/landing-left.jpg" />
  </div>
  <div class="right-content">
    <img src="../../../assets/images/landing-right.jpg" />
    <div class="description">Coming Soon.</div>
  </div>

  <div
    id="g_id_onload"
    data-client_id="171954545005-mvsoqvrnt8c8mkl2sh11hv12qe6gfm0u.apps.googleusercontent.com"
    data-context="signin"
    data-ux_mode="popup"
    data-login_uri="https://devel-scf-dashboard.danamas.co.id/auth"
    data-itp_support="true"
  ></div>

  <div
    class="g_id_signin"
    data-type="standard"
    data-shape="rectangular"
    data-theme="outline"
    data-text="signin_with"
    data-size="large"
    data-logo_alignment="left"
  ></div>
</div>
