<div class="welcome">
  <h1 class="title">
    <i>
      HELLO, INDONESIA!<br />
      WE ARE HERE!
    </i>
  </h1>

  <img class="img-right" src="../../../assets/images/home-right.jpg" />

  <div class="description">
    Your destination for the best Korean skincare products in Indonesia. <br />
    We're passionate about skincare and committed to providing our customers
    with<br />
    the highest quality products that meet their unique needs. We source our
    products<br />
    from the most reputable brands in Korea, ensuring that each product is<br />
    carefully formulated with the best ingredients and backed by scientific
    research.<br /><br />
    Our team of skincare experts is dedicated to helping our customers find the
    perfect<br />
    products for their skin type and concerns. We offer free skincare
    consultations to<br />
    provide personalized recommendations tailored to each customer's unique
    needs.<br />
  </div>

  <img class="img-left" src="../../../assets/images/home-left.png" />
</div>
